@import "../components/variables";
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,600&display=swap');

main article.post {
	display: grid;

	grid-template: "fimg" "title" "headliner" "date";
	@media screen and (min-width: $screen-sm-min) { grid-template: "title" "headliner" "date" "fimg"; }

	h1, h2 {
		font-family: 'Roboto', 'Sarabun', sans-serif;
	}

	.featured-image {
		grid-area: fimg;
		max-height: 300px;
		max-width: 100%;
		@media screen and (min-width: $screen-sm-min) {
			max-height: 400px;
			margin: 16px auto;
		}
		@media screen and (min-width: $screen-md-min) {
			max-height: 500px;
			margin: 32px auto;
		}
		margin: 0 auto;
		box-sizing: border-box;
	}

	> h1 {
		grid-area: title;
		margin-top: 16px;
		font-size: 32px;
		font-weight: 600;
	}
	> h2 {
		grid-area: headliner;
		font-size: 20px;
		font-weight: 300;
	}
	> h6 {
		grid-area: date;
		margin-top: 4px;
		font-size: 14px;
		font-style: italic;
		font-weight: 300;
	}

	section.post-content {
		margin-top: 16px;
		h1, h2, h3, h4, h5, h6 { margin-bottom: 12px }
		h1 { font-size: 32px }
		h2 { font-size: 28px }
		h3 { font-size: 24px }
		h4 { font-size: 20px }
		h5 { font-size: 18px }
		h6 { font-size: 14px }
		a {
			color: $accent-dark;
			@media (prefers-color-scheme: dark) { color: $accent-light }
		}
		table {
			margin: 0 auto;
			border-collapse: collapse;

			th, td {
				padding: 8px;
				border: 1px solid $dark-bright;
				@media (prefers-color-scheme: dark) { border-color: $light-dim }
			}
		}
		p { line-height: 1.5 }
	}
}