@import "../components/common";

section#text-content {
	white-space: unset;
	text-align: justify;
	line-height: 1.2;
	font-family: 'Fira Code', monospace;

	> p {
		&:first-child {margin-top: 0}
		&:last-child {margin-bottom: 0}
	}
}