@import url('https://fonts.googleapis.com/css?family=Sarabun:200,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900&display=swap');

$screen-xs:     480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// Color palette
$light: #EEEEEE;
$lighter: #FFFFFF;
$light-dim: #BBBBBB;
$dark-bright: #555555;
$dark: #333333;
$darker: #111111;

$accent: #FF9926;
$accent-light: lighten($accent, 20%);
$accent-dark: darken($accent, 20%);

@mixin elevate-1 { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) }
@mixin elevate-2 { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) }
@mixin elevate-3 { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) }
@mixin elevate-4 { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) }
@mixin elevate-5 { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) }

@mixin shadow-pseudo {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.1s ease-out;
}

@mixin hover-elevate {
	position: relative;

	&::after {
		@include elevate-5;
		@include shadow-pseudo;
	}

	&:hover {
		box-shadow: none;
		&::after {
			opacity: 1
		}
	}
}

//noinspection CssInvalidFunction
@mixin page-layout-sizing {
	margin-left: auto;
	margin-right: auto;

	padding-right: calc(env(safe-area-inset-right) + 16px);
	padding-left: calc(env(safe-area-inset-left) + 16px);
	@media screen and (min-width: $screen-sm-min) {
		padding-right: calc(env(safe-area-inset-right) + 16px);
		padding-left: calc(env(safe-area-inset-left) + 16px);
	}

	width: 100%;
	max-width: $screen-md-min;
}

@mixin reading-fontsize {
	font-size: 16px;
	@media screen and (min-width: $screen-sm-min) { font-size: 18px }
	@media screen and (min-width: $screen-md-min) { font-size: 20px }
}