@import "./variables.scss";

.articles {
	display: grid;
	grid-gap: 16px;

	grid-template: "article-section-title" / 1fr;
	@media screen and (min-width: $screen-xs) { grid-template: "article-section-title article-section-title" / 1fr 1fr; }
	@media screen and (min-width: $screen-sm-min) { grid-template: "article-section-title article-section-title article-section-title" / 1fr 1fr 1fr; }

	&.featured {
		grid-template: "article-section-title" / 1fr;
		@media screen and (min-width: $screen-sm-min) { grid-template: "article-section-title article-section-title" / 1fr 1fr; }
		> article { height: 350px }
	}

	> h2 {
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		grid-area: article-section-title;
		width: fit-content;
		padding: 5px 8px 3px 8px;
		border-radius: 4px;

		font-size: 20px;
		@media screen and (min-width: $screen-sm-min) { font-size: 24px; }

		justify-self: center;
		@media screen and (min-width: $screen-md-min) { justify-self: left; }

		background-color: $dark;
		color: $lighter;
		@media (prefers-color-scheme: dark) {
			background-color: $lighter;
			color: $darker;
		}
	}
	> article { height: 300px }
}

.articles + .articles {
	margin-top: 16px;
	padding-top: 16px;

	border-color: $dark;
	@media (prefers-color-scheme: dark) { border-color: $light }
}