$screen-xs:     480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

// Color palette
$light: #DDDDDD;
$lighter: #FFFFFF;
$light-dim: #BBBBBB;
$dark-bright: #555555;
$dark: #333333;
$darker: #111111;

$accent: #FF9926;
$accent-light: lighten($accent, 15%);
$accent-dark: darken($accent, 15%);